.frame {
    display:flex;flex-wrap: wrap;/*讓項目水平排列跟可以換行 */
}

.p1 {
    text-align: left;
    font-size: 20px;
    flex:none;
    
}

.p2 {
    display: flex;
    justify-content: flex-end; /*讓項目靠右 */
    flex:auto; /*自動填滿空間*/
}

.p3 {
    font-size: 20px;
    flex:none;
    width:60px;
    text-align: center;
}
.p4{
    font-size: 20px;
    flex:none;
    width:60px;
    text-align: center;
}
ul{
    display: none;
}
label{
    display: none;
}
#burger{
    display: none;
}

.back {
    display: flex;
    justify-content: center;
    align-items: center; /*垂直對齊*/
    height: 300px;
    background-color: rgb(184, 221, 241);
}

.h3 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

@media (max-width:1200px){
    .frame>.p3{
        width:45%;
    }
}

@media (max-width:500px){
    .frame>.p3{
        width:90%;
    }
}

@media (max-width:600px){
    .p3{
        display: none;
        }
    ul{
        display: none;
        }
    label{
        display: block;
        }
    #burger:checked + ul{
        display:block;
      }
    }




.list {
    display: flex;justify-content: center;
}


.product {
    flex:none;
    width: 280px;
    margin:10px;
    margin-top: 40px;
    padding-bottom: 20px;
}

img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.title {
    flex: none; 
    width: auto; 
    padding: 5px 0;
    background-color: rgb(196, 222, 238);
    font-size: 17px;
    text-align: center;
    margin-top: -5px;
}


@media (max-width:1200px) {
    .list {flex-wrap: wrap;
    }
    .product {
        width:45%;
    }
}

@media (max-width:600px) {
    .product {
        width:90%;
    }
}