.title{
    background-color: rgb(51, 70, 71);
    display: flex;
    justify-content: center;
    align-items: center; /*垂直對齊*/
    height: 120px;
}

.h1{
    font-size: 40px;
    font-weight: bold;
    text-align:center;
    color:rgb(240, 230, 230);
}

.login{
    font-size: 30px;
    font-weight: bold;
    text-align:center;
    margin-top:50px;
}

.form{
    text-align: center;
}

.logout{
    padding-top: 50px;
    font-size: 30px;
    text-align: center;
}

.message{
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
}

.member{
    font-size: 30px;
    font-weight: bold;
    text-align:center;
    margin-top:50px;
}